<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoDate</title>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/site.css}" />
    <link rel="stylesheet" th:href="@{/resources/css_bs5/bootstrap.css}" />
<!--    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>-->
</head>
<body class="authentication-body">
<div class="authentication-wrapper">
<form style="width: 23rem;" method="post" th:attr="action=@{/authenticating}" class="login-container shadow-lg rounded">
    <div class="container" style="font-family:arial; font-size: 19px; background-color:#f1f1f1; color: black; text-align: center;">
        <img th:src="@{/resources/image/brand-logo.png}" alt="MoDate" />
    </div>
    <div class="container">
        <label for="username"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="username" id="username" required>

        <label for="password"><b>Password</b></label>
        <input type="password" id="password" placeholder="Enter Password" name="password" required>

        <button type="submit">Login</button>
        <label>
            <input type="checkbox" checked="checked" name="remember"> Remember me
        </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
<!--        <a class="registerbtn" th:href="@{/account/registerForm}">sign up</a>-->
        <button type="button" class="registerbtn" th:attr="onclick=|registerBtn('@{/account/registerForm}')|">Sign Up</button>
        <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
</form>
</div>

<script>
    function registerBtn(url) {
        window.location = url;
    }
</script>
</body>
</html>