<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MoDate</title>
    <link rel="icon" type="image/ico" th:href="@{/favicon.ico}"/>
    <link rel="stylesheet" th:href="@{/resources/css/font-awesome.css}" />
    <link rel="stylesheet" th:href="@{/resources/css/site.css}" />
    <link rel="stylesheet" th:href="@{/resources/css_bs5/bootstrap.css}" />
    <!--    <script th:src="@{/resources/js/jquery-3.6.0.js}"></script>-->
</head>
<body>
</body>
</html>